.tweet {
    background-color: @selected_bg_color;
}

.tweet:hover {
    background-color: #FFFFFF;
}

.tweet:active {
    background-color: #FFFFFF;
}

.main_window {
    background-color: #FFFFFF;
}

.scrollbar {
    background-color: @selected_bg_color;
}
