.tweet {
    background-color: #3a81cc;
}

.tweet:hover {
    background-color: #FFFFFF;
}

.tweet:active {
    background-color: #FFFFFF;
}

.main_window {
    background-color: #FFFFFF;
}

.button.affirmative:insensitive {
    background-image: -gtk-gradient (linear,
				     left top,
				     left bottom,
                     from (alpha (#fff, 0.20)),
                     to (alpha (#000, 0.05)));

    -unico-border-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (shade (@bg_color, 0.76)),
                     to (shade (@bg_color, 0.70)));
}
