[Desktop Entry]
Name=Birdie
GenericName=Twitter Client
Comment=Twitter client for Linux
Categories=GTK;Network;
Exec=birdie %U
Icon=birdie
Terminal=false
Type=Application
MimeType=x-scheme-handler/birdie;
X-GNOME-Gettext-Domain=birdie
